<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85574224340-e1v16ueh2oo8s6e0a8r3adaf58jp5cva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85574224340-e1v16ueh2oo8s6e0a8r3adaf58jp5cva</string>
	<key>API_KEY</key>
	<string>AIzaSyDHKZTL_iboCJgE90ejlwFlr2UjciULIds</string>
	<key>GCM_SENDER_ID</key>
	<string>85574224340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Farhana.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-44271</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-44271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85574224340:ios:586557c45b25935f82ae41</string>
</dict>
</plist>